.container {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}

.MuiAvatar-circular.title.MuiAvatar-colorDefault{
    color: black;
    background-color: white;
}